body,
html {
    background-color: #f8b300;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url(sansation_light.woff);
    ;
    font-weight: 300;
    height: 100%;
}

nav {
    background-color: #c77000;
    height: 100px;
    width: 100%;
}

#logo {
    height: 110px;
    width: 110px;
}

nav ol {
    float: right;
    list-style-type: none;
    margin-top: 40px;
    /* change the margin right from 100 to 40px */
    margin-right: 40px;
    margin-bottom: 0;
}

nav ol li {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 700;
    font-size: 25px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: rgb(220, 173, 110);
}

nav a:link {
    color: blanchedalmond;
}

nav a:visited {
    color: blanchedalmond;
}

.hero-image {
    background-image: url("images/event.jpg");
    min-height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#main_image {
    width: 100%;
    height: 500px;
}

.img-left,
.img-right {
    width: 300;
    height: 300;
    margin-left: 25;
    border-radius: 8px;
    display: block;
    margin-left: 50;
    margin-right: auto;
    flex: 50%;
}


/* flex */

.items-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 70%;
    margin: 0 auto;
}

* {
    box-sizing: content-box
}

.flex-container {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    display: flex;
    font-size: 30px;
    text-align: left;
    align-items: center;
}

.flex-container div:first-child {
    margin-right: 10px;
}

.events-image-left {
    padding: 10px;
    flex: 50%;
}

.events-image-right {
    padding: 10px;
    flex: 50%;
}


/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {
    .events-image-left,
    .events-image-left {
        flex: 100%;
    }
}


/* -------Footer-------- */

footer {
    background-color: #c77000;
    display: flex;
    color: blanchedalmond;
}

.map {
    width: 40%;
    display: flex;
    padding: 15px;
}

.map div:nth-child(2) {
    margin: 0px 10px;
}

.social {
    margin-left: 20px;
    width: 30%;
}

footer h3 {
    margin: 10px 0px;
}

.social-item {
    font-size: 18px;
    line-height: 35px;
    display: flex;
    align-items: center;
}

footer a {
    color: blanchedalmond;
    text-decoration: none;
}

footer a:hover {
    color: rgb(220, 173, 110);
}

.social-icon {
    margin-right: 7px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 248px;
    width: 393px;
    border-radius: 5px;
    overflow: hidden;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 248px;
    width: 393px;
}

.page-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page-links li {
    font-size: 18px;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}